<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
    debug="true" >
  <appender name="rolling" class="org.apache.log4j.RollingFileAppender">
    <param name="File"   value="target/log/openid-portal.log" />
    <param name="MaxFileSize" value="200KB" />
    <param name="MaxBackupIndex" value="5" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n"/>
    </layout>
  </appender>
  <appender name="access" class="org.apache.log4j.RollingFileAppender">
    <param name="File"   value="target/log/access.log" />
    <param name="MaxFileSize" value="100KB" />
    <param name="MaxBackupIndex" value="5" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %c{1} - %m%n"/>
    </layout>
  </appender>
  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p %-50.50c   %m%n"/>
    </layout>
  </appender>
  <category name="org.immunogenomics.gl.oauth.openid.portal.SecurityLogger" additivity="true">
    <appender-ref ref="access"/>
  </category>
  <category name="org.openid4java">
    <priority value="warn" />
  </category>
  <root>
    <priority value ="info" />
    <appender-ref ref="STDOUT" />
    <appender-ref ref="rolling" />
  </root>
</log4j:configuration>