/*
$light: #d3d7cf;
$medium: #babdb6;
$dark: #555753;
$black: #2e3436;
$blue: rgb(203, 213, 232);
$red: rgb(244, 202, 228);
$green: rgb(230, 245, 201);
$orange: rgb(253, 205, 172);
$brown: rgb(241, 226, 204);
$yellow: rgb(255, 242, 174);
$teal: rgb(179, 226, 205);
*/

body, h1, h2, h3, h4, h5, h6
{
  color: #2e3436;
}

span.label
{
  font-weight: bold;
}