<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/imgt_hla_biosql</property>
        <property name="hibernate.connection.username">imgt-hla-biosql</property>
        <property name="hibernate.connection.password">imgt-hla-biosql</property>
        <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <property name="show_sql">true</property>

        <mapping resource="Namespace.hbm.xml"/>
        <mapping resource="Taxon.hbm.xml"/>
        <mapping resource="Ontology.hbm.xml"/>
        <mapping resource="Term.hbm.xml"/>
        <mapping resource="Triple.hbm.xml"/>
        <mapping resource="BioEntry.hbm.xml"/>
        <mapping resource="Comment.hbm.xml"/>
        <mapping resource="BioEntryRelationship.hbm.xml"/>
        <mapping resource="CrossRef.hbm.xml"/>
        <mapping resource="DocRef.hbm.xml"/>
        <mapping resource="Feature.hbm.xml"/>
        <mapping resource="FeatureRelationship.hbm.xml"/>
        <mapping resource="Location.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
